NODE_ENV=development
API_VERSION=v1

APP_LISTEN=8085
LOCAL_PORT=8085

IMAGE_VERSION=0.0.1
IMAGE_NAME="image-name"
CONTAINER_NAME="container-name"

# TypeORM settings:
# data_source_type://username:password@host:port/database
# data_source_type://username:password@host:port/database/schema
# data_source_type://username:password@host:port/database/schema?optionName=OptionValue&otherOptionName=OtherOptionValue
# See more info in https://typeorm.io/data-source-options
DATABASE_MAIN_URI="mysql://root@localhost/fbuccioni_nest_boilerplate"
DATABASE_MAIN_MIGRATIONS_AUTO=false
DATABASE_MAIN_LOGGING=true
